.settings-page{
    margin-top: 3em;
    width: 100%;
}
.settings-page h1{
    margin-bottom: 1em;
    margin-left: 4%;
}
.settings-page-items{
    border-top: rgb(211, 211, 211) 1px solid;
}
.settings-page-items h1{
    margin-top: 1em;
    font-weight: 100;
    font-size: 24px;
}
.settings-profile-pic-container{
    display: grid;
    margin-left: 4%;
    width: 40%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.settings-prof-pic{
    width: 140px;
    height: 140px;
    grid-area: 2 / 1 / span 3 / span 1;
    background-color: greenyellow;
    border-radius: 50%;
}
/* .choose-file input{
    background-color: rgb(197, 197, 197);
    font-size: 12px;
    width: 8em;
    height: 4em;
    border: none;
    border-radius: 5px;
    grid-area: 2 / 2 / span 1 / span 1;
    cursor: pointer;
} */
.change-info form{
    display: grid;
    gap: 1em;
    grid-template-columns: 30% 1fr;
    margin-left: 6%;
    width: 25%;
}
.change-info label{
    justify-self: end;
    align-self: center;
    font-weight: bold;
}
.change-info input{
    padding: 0.5em;
    border-radius: 8px;
}
.change-info input[type=submit]{
    background-color: rgb(218, 0, 0);
    border-radius: 5px;
    border: none;
    grid-column: 2 / span 1;
    color: white;
    width: 50%;
    height: 3em;
    cursor: pointer;
}
.change-info input[type=submit]:hover{
    background-color: rgb(255, 0, 0);
}